<% @matches.each do |match| %>
    <p>Possible match found:</p>
    <p>
      Type: <%= match[:animalType] %><br />
      Looks like (breed): <%= match[:breed] %><br />
      Color: <%= match[:color] %><br />
      Sex: <%= match[:sex] %><br />
      Link with image: <%= match[:image] %>
    </p>
<% end %>
