<% @matches.each do |match| %>
    <p>
      <u>Possible match found</u><br />
      Type: <%= match[:animal_type] %><br />
      Looks like (breed): <%= match[:breed] %><br />
      Color: <%= match[:color] %><br />
      Sex: <%= match[:sex] %><br />
      Found Location: <%= match[:found_location] %><br />
      <a href="<%= match[:image] %>" target="_blank">Pet info page with picture</a>
    </p>
<% end %>