<div class="formContainer container">
  <div class="titleContainer">
    <h2 class="formTitle">Found Pet Alert</h2>
    <button type="button" class="btn btn-md btn-info explanationPopover" data-toggle="popover" title="App description"
            data-placement="bottom" data-html="true"
            data-content="<p>Searches the Austin Animal Control's list of pets taken in over the last 30 days.  You will be
            emailed if a match is found.  The service checks for new pets each day and lasts for 7 days.  You are welcome
            to create a new alert after 7 days if your pet is still missing.  You can use the service without providing
            an email address to check the current list of recently taken in pets at Austin Animal Control.</p>

            <p>Tips for using:<br />
            For the breed field, try a part of full breed name.  For example, try 'Lab' instead of 'Labrador Retriever' or 'black lab'.
            Capitalization won't affect matches.</p>">About the alert</button>
    <button type="button" class="btn btn-md btn-info explanationPopover" data-toggle="popover" title="Found pet resources"
            data-placement="bottom" data-html="true"
            data-content="
            <a href='https://data.austintexas.gov/Government/Austin-Animal-Center-Found-Pets-Map/hye6-gvq2' target='_blank'>
            Austin found pet map</a>">More resources</button>
  </div>
  <%= form_for(@pet) do |f| %>
    <fieldset class="form-group">
      <%= f.label :animal_type, 'Animal Type'%>
      <%= f.select(:animal_type, options_for_select([['Dog', 'Dog'], ['Cat', 'Cat']]), {}, {:class => 'form-control'}) %>
      <%= f.label :breed %>
      <%= f.text_field :breed, class: 'form-control' %>
      <%= f.label :color, 'Dominant Color' %>
      <%= f.text_field :color, class: 'form-control' %>
      <%= f.label :sex %>
      <%= f.select(:sex, options_for_select([['Unknown', 'Unknown'],
                                                                  ['Intact Male', 'Intact Male'],
                                                                  ['Neutered Male', 'Neutered Male'],
                                                                  ['Intact Female', 'Intact Female'],
                                                                  ['Spayed Female', 'Spayed Female']]),
                                                                  {}, {:class => 'form-control'}) %>
      <%= f.label 'Email (optional)' %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label 'Phone (optional) - add a number if you want to receive text notifications' %>
      <%= f.phone_field :phone, class: 'form-control' %>
    </fieldset>
    <%= f.submit 'Submit', class: 'btn btn-primary submitButton' %>
  <% end %>
</div>