<div class="formContainer">
  <h2>Sign up to be emailed when your pet is found</h2>
  <%= form_for(@pet) do |f| %>
    <%= f.label :animalType %>
    <%= f.text_field :animalType %><br />
    <%= f.label :breed %>
    <%= f.text_field :breed %><br />
    <%= f.label :color %>
    <%= f.text_field :color %><br />
    <%= f.label :sex %>
    <%= f.select(:sex, options_for_select([['Unknown', 'Unknown'],
                                             ['Intact Male', 'Intact Male'],
                                            ['Neutered Male', 'Neutered Male'],
                                            ['Intact Female', 'Intact Female'],
                                            ['Spayed Female', 'Spayed Female']])) %><br />
    <%= f.label :email %>
    <%= f.text_field :email %><br />
    <%= f.submit "Submit", class: "submitButton" %>
  <% end %>
</div>