<div class="formContainer container">
  <h2 class="formTitle">Get notified when matching pets are found</h2>
  <%= form_for(@pet) do |f| %>
    <fieldset class="form-group">
      <%= f.label :animal_type, 'Animal Type'%>
      <%= f.select(:animal_type, options_for_select([['Dog', 'Dog'], ['Cat', 'Cat']]), {}, {:class => 'form-control'}) %>
      <%= f.label :breed %>
      <%= f.text_field :breed, class: 'form-control' %>
      <%= f.label :color %>
      <%= f.text_field :color, class: 'form-control' %>
      <%= f.label :sex %>
      <%= f.select(:sex, options_for_select([['Unknown', 'Unknown'],
                                                                  ['Intact Male', 'Intact Male'],
                                                                  ['Neutered Male', 'Neutered Male'],
                                                                  ['Intact Female', 'Intact Female'],
                                                                  ['Spayed Female', 'Spayed Female']]),
                                                                  {}, {:class => 'form-control'}) %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </fieldset>
    <%= f.submit 'Submit', class: 'submitButton btn btn-default' %>
  <% end %>
</div>